.eva h3{
    position: fixed;
    width: 38vw;
    height: 10vh;
    text-align: center;
    top: 0px;
    background-color: aqua;
    color: black;
    margin-left: 250px;
    border-radius: 20px;
     animation-name: eva;
    animation-duration: 4s;
    animation-delay: 5s;
    animation-iteration-count: infinite;
}
#calculator.container{
    background-color:#223;
    width: 38vw;
    height: 65vh;
    margin-left: 250px;
    top: 80px;
    border-radius: 10px;
    position:relative;
   
}
@keyframes eva{
    0%{background-color: #245345;}
    25%{background-color: #eba;}
    50%{background-color: #1e40fe;}
    75%{background-color: #bce;}
    100%{background-color: #eeffe10e;}
}
#cal.calculator input{
    position: relative;
    width: 30vw;
    height: 20vh;
    background-color: #1eabcf11;
    border: 1px solid #223;
    color: white;
    margin-left: 35px;
    font-size: 25px;
    border-radius: 20px;
    top: 20px;
    text-align: right;
    cursor: pointer;
    transition: 0.3s;
}
#cal.calculator input:hover{
    background-color: white;
    color: black;
    font-size: 20px;
}
.butt button{
    position: relative;
    width: 5vw;
    border: 1px solid #223;
    border-radius: 100px;
    margin-left: 35px;
    font-size: 20px;
    text-decoration: solid;
    text-transform: capitalize;
    top: 20px;
    height: 7vh;
    cursor: pointer;
    transition: 0.3s;
}
.butt button:hover{
    background-color: #223;
    font-size: 20px;
    color: white;
}